<h1>Friends list</h1>
<div class="add-friend">
  <input type="text" [(ngModel)]="newFriend" placeholder="Friend name" />
  <button (click)="addFriend()">Add friend</button>
</div>
<div class="favorite">
  <p>My favorite person is: </p>
  <ul>
    <li *ngFor="let f of favorites">
      {{f}}
    </li>
  </ul>
</div>
<div class="people" >
  <!-- Add your people component here -->
  <app-people *ngFor="let f of this.people"
    [name]="f"
    (toggleFavorite_)="friend_toggleFavorite($event)"
  />
</div>

